/*place global styles here */
html, body { @apply h-full; }

body {  }

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/UbuntuMono-Regular.ttf');
}

.floating {
    @apply absolute;
    @apply w-max;
    @apply bg-none;
}

